{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% comment %} Bootstrap CSS {% endcomment %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    {% comment %} Styles CSS {% endcomment %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tom-select/2.3.1/css/tom-select.bootstrap5.min.css" integrity="sha512-w7Qns0H5VYP5I+I0F7sZId5lsVxTH217LlLUPujdU+nLMWXtyzsRPOP3RCRWTC8HLi77L4rZpJ4agDW3QnF7cw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ag-grid-community@31.0.2/styles/ag-grid.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ag-grid-community@31.0.2/styles/ag-theme-quartz.css" />
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&display=swap" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tom-select/2.3.1/js/tom-select.complete.js" integrity="sha512-96+GeOCMUo6K6W5zoFwGYN9dfyvJNorkKL4cv+hFVmLYx/JZS5vIxOk77GqiK0qYxnzBB+4LbWRVgu5XcIihAQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://kit.fontawesome.com/3518e7db2c.js" crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'js/search.js' %}"></script>
    <script src="{% static 'js/table.js' %}"></script>
    <script src="{% static 'js/component.js' %}"></script>
    <title>BizWorth</title>
</head>

<body>
    {% comment %} Header {% endcomment %}
    <div class="main">
        <button type="button" class="btn btn-dark btn-floating btn-lg"id="btn-back-to-top" >
            <i class="fas fa-arrow-up"></i>
        </button>
        <div id="home">
            {% comment %} Navbar {% endcomment %}
            <nav class="navbar navbar-expand-lg navbar-dark">
                <div class="container">
                    <a class="navbar-brand fs-2 fw-semibold" href="#">BizWorth</a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item btn-lg">
                                <a class="nav-link fw-semibold" aria-current="page" href="#home">Home</a>
                            </li>
                            <li class="nav-item btn-lg">
                                <a class="nav-link fw-semibold" id="valuation-nav-btn" href="#valuation">Valuation</a>
                            </li>
                            <li class="nav-item btn-lg">
                                <a class="nav-link fw-semibold" id="financial-nav-btn" href="#">Financial</a>
                            </li>
                            <li class="nav-item btn-lg">
                                <a class="nav-link fw-semibold" href="#about">About us</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </nav>

            <div class="backdrop"></div>
            {% comment %} Choose Business {% endcomment %}
            <div class="business w-50">
                <p class="text-center text-white text-opacity-75 fs-3">Your Business, Our Expertise</p>
                <div class="select-form">
                    <form class="w-75 text-center">
                        <div class="search-box">
                            <input class="chosen-value w-100" type="text" value=""
                                placeholder="Chọn cổ phiếu" />
                            <i class="ic-search fa-solid fa-magnifying-glass"></i>
                        </div>
                        <ul class="tickers-list">
                            {% for ticker in tickers %}
                            <li class="ticker" data-value="{{ ticker.short_name }}">{{ ticker.full_name }}</li>
                            {% endfor %}
                        </ul>
                    </form>
                </div>
            </div>
        </div>
        {% comment %} Financial Statement {% endcomment %}
        <div id="financial-report" style="display:none">
            <div class="container p-5">
                <div class="d-flex justify-content-center">
                    <p class="fs-3 fw-bold mb-5 text-black">Báo Cáo Tài Chính</p>
                    <img style="margin-left: 5px;margin-top: 7px;" src="{% static 'img/financial-report.png' %}" width="40"
                        height="40">
                </div>
                <div class="row mb-3 mt-3">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title d-flex align-items-center">
                                    <img src="{% static 'img/financial-statement.png' %}" width="30"
                                        height="30">
                                    <h5 class="px-4" style="line-height: 40px;">
                                        Chỉ Số Tài Chính
                                    </h5>
                                </div>
                                <div class="financial-statement">
                                    <div id="eps-chart-container" class="row mt-4"></div>
                                    <hr class="hr hr-blurry mt-3 mb-4"/>
                                    <div id="lnst-chart-container" class="row"></div>
                                    <hr class="hr hr-blurry mt-3 mb-4"/>
                                    <div id="fed-chart-container" class="row"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3 mt-3">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title d-flex align-items-center">
                                    <img src="{% static 'img/financial-statement.png' %}" width="30"
                                        height="30">
                                    <h5 class="px-4" style="line-height: 40px;">
                                        So Sánh Chỉ Số Tài Chính
                                    </h5>
                                </div>
                                <div class="financial-figure">
                                    <div id="financial-tbl" class="row mt-4"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="valuation" style="display:none;">
            <div class="container p-5">
                <div class="d-flex justify-content-center">
                    <p class="fs-3 fw-bold mb-5 text-black">Kết Quả Định Giá</p>
                    <img style="margin-left: 5px;margin-top: 7px;" src="{% static 'img/hooray.png' %}" width="40"
                        height="40">
                </div>
                <div class="row mb-5 ">
                    {% comment %} Company Profile {% endcomment %}
                    <div class="row mb-3 mt-3">
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-title d-flex align-items-center">
                                        <img src="{% static 'img/company-profile.png' %}" width="30" height="30">
                                        <h5 class="px-4" style="line-height: 40px;">
                                            Thông Tin Cơ Bản
                                        </h5>
                                    </div>
                                    <div class="business-profile" style="text-indent: 40px;margin-top: 5px;overflow: hidden;">
                                        <p>
                                            FPT, officially the FPT Corporation, is the largest information technology service company in Vietnam with its core business focusing on consulting, providing and deploying technology and telecommunications services and solutions.
                                        </p>
                                    </div>
                                    <a href="javascript:void(0);" class="read-more" data-content="business-profile">Đọc Thêm</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3 mt-3">
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-title d-flex align-items-center">
                                        <img src="{% static 'img/history.png' %}" width="30" height="30">
                                        <h5 class="px-4" style="line-height: 40px;">
                                            Lịch Sử
                                        </h5>
                                    </div>
                                    <div class="business-history business-info-list" style="margin-top: 5px;overflow: hidden;">
                                        FPT, officially the FPT Corporation, is the largest information technology
                                        service
                                        company in Vietnam with its core business focusing on consulting, providing and
                                        deploying technology and telecommunications services and solutions.
                                    </div>
                                    <a href="javascript:void(0);" class="read-more" data-content="business-history">Đọc Thêm</a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3 mt-3">
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-title d-flex align-items-center">
                                        <img src="{% static 'img/prospect.png' %}" width="30" height="30">
                                        <h5 class="px-4" style="line-height: 40px;">
                                            Lĩnh Vực Kinh Doanh
                                        </h5>
                                    </div>
                                    <div class="business-prospect business-info-list" style="margin-top: 5px;overflow: hidden;">
                                        FPT, officially the FPT Corporation, is the largest information technology
                                        service
                                        company in Vietnam with its core business focusing on consulting, providing and
                                        deploying technology and telecommunications services and solutions.
                                    </div>
                                    <a href="javascript:void(0);" class="read-more" data-content="business-prospect">Đọc Thêm</a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    {% comment %} Chart {% endcomment %}
                    <div class="row mb-3 mt-3">
                        <div class="col">
                            <div class="card text-bg-light">
                                <div class="card-body">
                                    <div class="card-title d-flex align-items-center">
                                        <img src="{% static 'img/visualization.png' %}" width="30" height="30">
                                        <h5 class="px-4" style="line-height: 40px;">
                                            Biểu Đồ Trực Quan
                                        </h5>
                                    </div>
                                    <div id="chart-visualization" class="row">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% comment %} Advice and Tips {% endcomment %}
                    <div class="row mb-3 mt-3" style="">
                        <div class="col">
                            <div class="card text-bg-light" style="">
                                <div class="card-body">
                                    <div class="card-title d-flex align-items-center mb-4">
                                        <img src="{% static 'img/tips.png' %}" width="30" height="30">
                                        <h5 class="px-4 fs-3" style="line-height: 40px;">
                                            Phân Tích
                                        </h5>
                                    </div>
                                    <div class="title"><h4 style="font-weight: 700">EPS (Earning Per Share)</h4></div>
                                    <div id="eps_analysis"> </div>
                                    <hr class="hr hr-blurry mt-3 mb-4"/>
                                    
                                    <div class="title"><h4 style="font-weight: 700">Doanh Thu</h4></div>
                                    <div id="sales_analysis"> </div>
                                    
                                    <hr class="hr hr-blurry mt-3 mb-4"/>
                                    <div class="title"><h4 style="font-weight: 700">Lợi Nhuận Sau Thuế</h4></div>
                                    <div id="npat_analysis"> </div>

                                    <hr class="hr hr-blurry mt-3 mb-4"/>
                                    <div class="title"><h4 style="font-weight: 700">Bảng Cân Đối Kế Toán</h4></div>
                                    <div id="balance_sheet"> </div>

                                    <hr class="hr hr-blurry mt-3 mb-4"/>
                                    <div class="title"><h4 style="font-weight: 700">Kết Quả Hoạt Động Kinh Doanh</h4></div>
                                    <div id="operation_result"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% comment %} Footer {% endcomment %}
        <div id="about" class="footer container-fluid" style="padding:0 60px">
            <div class="row gx-5">
                <div class="col-3">
                    <div class="row">
                        <img class="img-uit" src="{% static 'img/uit.png' %}" width="30" height="30">
                    </div>
                    <div class="row">
                        <a href="#" class="fs-5 text-secondary"><img class="img-phone"
                                src="{% static 'img/phone.png' %}" width="30" height="30">
                            0901 234 567</a>
                    </div>
                    <div class="row">
                        <a href="#" class="fs-5 text-secondary"><img class="img-mail"
                                src="{% static 'img/mail.png' %}" width="30" height="30">
                            uit@gmail.com</a>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row title-footer">
                        <h4>COMPANY</h4>
                    </div>
                    <div class="row mt-2 mb-2">
                        <a href="#home" class="mt-3 fs-5 text-secondary">Home</a>
                    </div>
                    <div class="row mt-2 mb-2">
                        <a href="#valuation" class="mt-3 fs-5 text-secondary">Valuation</a>
                    </div>
                    <div class="row mt-2 mb-2">
                        <a href="#financial-report" class="mt-3 fs-5 text-secondary">Financial</a>
                    </div>
                    <div class="row mt-2 mb-2">
                        <a href="#about" class="mt-3 fs-5 text-secondary">About us</a>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row title-footer">
                        <h4>LINKS</h4>
                    </div>
                    <div class="row mt-2 mb-2">
                        <a href="#" class="mt-3 fs-5 text-secondary">Courses</a>
                    </div>
                    <div class="row mt-2 mb-2">
                        <a href="#" class="mt-3 fs-5 text-secondary">Events</a>
                    </div>
                    <div class="row mt-2 mb-2">
                        <a href="#" class="mt-3 fs-5 text-secondary">FAQs</a>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row title-footer">
                        <h4>SUPPORT</h4>
                    </div>
                    <div class="row mt-2 mb-2">
                        <a href="#" class="mt-3 fs-5 text-secondary">Documentation</a>
                    </div>
                    <div class="row mt-2 mb-2">
                        <a href="#" class="mt-3 fs-5 text-secondary">Forums</a>
                    </div>
                </div>
            </div>

            <div class="row gx-5">
                <div class="mt-3 col-8">
                    <p class="text-secondary">COPYRIGHT © 2023 UIT.com. Designed and Developed by UIT. </p>
                </div>
                <div class="col-4">
                    <p class="fs-5 text-secondary">
                        Follow us
                        <img class="img-social" src="{% static 'img/f.png' %}">
                        <img class="img-social" src="{% static 'img/insta.png' %}">
                        <img class="img-social" src="{% static 'img/in.png' %}">
                        <img class="img-social" src="{% static 'img/twitter.png' %}">
                    </p>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
        </script>
</body>

</html>
